.card_container {
  box-shadow: 1px 1px 10px gray;
  /* background-color: rgb(219, 219, 202); */
  margin: 8px;
  width: 24% !important;
  height: 450px !important;
  position: relative;
  overflow: hidden;
}

.card-body {
  display: flex;
  justify-content: space-between;
  padding: 26px;
}

.App_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
  border-radius: 7px;
}

.search_input {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search_input input {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
}
