.navbar-nav li a {
  color: white !important;
  color: rgba(229, 9, 20, 1) !important;
  font-size: 1em;
}
.navbar-nav li a:hover {
  background-color: #cfe8fd;
}

.navbar {
  background-color: #0b0b0b;
}
